* {
	font-family: sans-serif;
	color: #454545;
}

h1 {
	font-size: 32px;
	border-bottom: 1px solid lightgrey;
	margin: 25px 0;
}

input {
	display: inline-block;
	margin-bottom: 12px;
}

label {
	display: block;
}

input[name='submit'], input[name='login'] {
	display: block;
}

.error {
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	margin: 5px 0px;
	padding: 5px;
	border-radius: 5px;
}