* {
	font-family: sans-serif;
	color: #454545;
}

h1 {
	font-size: 32px;
	border-bottom: 1px solid lightgrey;
	margin: 25px 0;
}

input {
	display: inline-block;
	margin-bottom: 12px;
}

label {
	display: block;
}

input[name='submit'], input[name='login'], input[name='artikelToevoegen'], input[name='artikelWijzigen'] {
	display: block;
}

input[name='titel'], textarea[name='artikel'], input[name='kernwoorden'], input[name='datum'], input[name='titel'], input[name='artikel'], input[name='kernwoorden'], input[name='datum'] {
	padding: 6px;
	width: 50%;
	margin-bottom: 12px;

}

article {
	padding: 16px;
	margin-bottom: 16px;
}

h2 {
	margin-top: 0;
	font-size: 24px;
	font-weight: 200;
	border-bottom: 1px solid lightgrey;
}

ul {
	margin-top: 1em;
}

li {
	margin-bottom: 12px;
}

article p {
	margin: 0;
}



.error {
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	margin: 5px 0px;
	padding: 5px;
	border-radius: 5px;
}

.grey {
	background-color: #eeeeee;
}